* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

html, body {
    height: 100%
}

body {
    display: flex; 
}

header, main, footer {
    font-family: sans-serif;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 35vw;

    background: rgba(0, 0, 0, 0.2) url(./imgs/halie-west-25xggax4bSA-unsplash.jpg) no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
}

#signup {
    display: flex;
    flex-direction: column;
    flex-basis: 70vw;
}

#signup header {
    font-weight: bold;
    font-size: 1.3em;

    background-color: #F0F0F0;

    padding: 100px 50px 40px 50px;
}

#signup header p + p {
    margin-bottom: 15px;
}

#signup main {
    padding: 10px 0 30px 50px;

    box-shadow: 0px 5px 10px 0px rgba(170,170,170, 0.75);
}

.form-row {
    display: flex;
    gap: 75px;

    margin-top: 10px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: -3px;

    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: .9em;
}

input {
    width: clamp(200px, 50vw, 25vw);
    height: 25px;
    
    margin-bottom: 10px;
}

#signup footer {
    padding: 40px 0 0 50px;
}

#createbtn {
    background-color: #596D48;
    color: white;
    
    font-size: 1em;
    font-weight: bold;

    padding: 10px 45px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}

a {
    color:#596D48;

    text-decoration: none;
    font-weight: bold;
}